/* Base styles */
.sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-up-form {
    max-width: 600px;
    min-width: 400px;
    height: 450px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Sign-In-Title {
    color: #333;
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input{
    width: 100%;
    min-width: 250px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.sign-up-form-button {
    width: 150px;

    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5695d8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-signup {
    max-width: 200px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #84a4c7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-up-form button:hover {
    background-color: #0056b3;
}

/* Mobile responsiveness */
@media screen and (max-width: 900px) {
    .sign-up-form {
        padding: 20px;
    }

    .Sign-In-Title {
        font-size: 24px;
    }
}
